<h1>hello world</h1>
{% include "about.html" %}
<input type='text' placeholder='football'></input>
<p>you cannot</P>
{% block content %}
    <p>Hello </P>
        <p>you can from about to  </P>
{% endblock  %}

{% block content_area%}
    <p>Not Hello </P>
        <p>Not you can from about to  </P>
{% endblock  %}

<p>{{banana}},{{lemon}}</p>

<ul>
    {% for num in lemon %}
        {% if num > 10 %}
            <li>{{num|add:3}}</li>
        {% comment %} {% else %}
            <li>{{num}}</li> {% endcomment %}
        {% endif %}
    {% endfor %}
</ul>

